* {
	margin: 0;
	padding: 0;
	
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html {
	background: #999;
}

body {
	font-family: 'Droid Sans Mono', sans-serif;
}

#content {
	background: #fff;
	margin: 50px auto;
	width: 900px;
	height: 485px;
	overflow: hidden;
	border: 20px solid #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -470px;
	margin-top: -263px;
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
	-o-box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}

#slide {
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transition: -moz-transform 0.5s ease-in-out;
	-o-transition: -o-transform 0.5s ease-in-out;
	
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-o-transform: translate(0, 0);
}

#slide.animated {
	-webkit-transition: -webkit-transform 0.5s ease-in-out 0.5s;
	-moz-transition: -moz-transform 0.5s ease-in-out 0.5s;
	-o-transition: -o-transform 0.5s ease-in-out 0.5s;
	
	-webkit-transform: translate(0, -395px);
	-moz-transform: translate(0, -395px);
	-o-transform: translate(0, -395px);
}

.additional {
	display: inline-block;
	
	font-size: 10pt;
	
	position: absolute;
	top: 50%;
	right: 6px;
	margin-top: -10px;
	margin-left: 10px;
		
	padding: 2pt;
	background: #fff;
	border-radius: 5px;
}

.header {
	width: 440px;
}

.header p {
	font-weight: bold;
}

#static-types {
	float: left;
	background: #eee;
	width: 440px;
	padding: 10px;
	padding-right: 0;
}

#static-types .header {
	margin-left: 6px;
}

#dynamic-types {
	float: right;
	background: #eee;
	width: 440px;
	padding: 10px;
	padding-left: 0;
}

#dynamic-types .header {
	margin-left: 3px;
}

#static-types .draggable {
	margin-right: 3px;
}

#dynamic-types .draggable {
	margin-left: 3px;
}

.draggable {
	font-size: 30px;
	text-align: left;
	padding: 6px;
	margin: 6px;
}

.static-type {
	background: #fcc;
}

.dynamic-type {
	background: #ccf;
}

.draggable.ui-draggable-dragging {
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
	-o-box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
	
	opacity: 0.5;
	
	z-index: 1000 !important;
}

#output {
	clear: both;
	padding: 15px 15px;
	width: 870px;
	height: 60px;
	background: #ddd;
	position: relative;
	
	font-size: 30px;
	line-height: 60px;
	
	z-index: 0;
}

#output p {
	text-align: left;
	width: 800px;
}

#static-droppable {
	background: #fcc;
	padding: 0 5px;
	border: 3px solid #fcc;
}

#dynamic-droppable {
	background: #ccf;
	padding: 0 5px;
	border: 3px solid #ccf;
}

.droppable-hover {
	border-color: rgba(0, 0, 0, 0.2) !important;
	border-style: dashed !important;
}

#terminal {
	font-family: Monaco, sans-serif;
	font-size: 10pt;
	
	background: #000;
	color: #fff;
	
	padding: 10px;
}

#explanation {
	background: #eee;
	height: 321px;
	
	font-size: 11pt;
	
	padding: 10px;
}

#explanation blockquote {
	margin-left: 10px;
	border-left: 2px solid #999;
	padding-left: 10px;
}

#explanation p {
	margin: 5px 0px;
}

/* From https://github.com/ubuwaits/css3-buttons */
button.blue-pill {
	position: absolute;
	top: 29px;
	right: 16px;
	
	cursor: default;

	background-color: #a5b8da;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
	background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
	background-image: linear-gradient(top, #a5b8da, #7089b3);
	border-top: 1px solid #758fba;
	border-right: 1px solid #6c84ab;
	border-bottom: 1px solid #5c6f91;
	border-left: 1px solid #6c84ab;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	-ms-border-radius: 18px;
	-o-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: inset 0 1px 0 0 #aec3e5;
	-moz-box-shadow: inset 0 1px 0 0 #aec3e5;
	-ms-box-shadow: inset 0 1px 0 0 #aec3e5;
	-o-box-shadow: inset 0 1px 0 0 #aec3e5;
	box-shadow: inset 0 1px 0 0 #aec3e5;
	color: #fff;
	font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	padding: 8px 0;
	text-align: center;
	text-shadow: 0 -1px 1px #64799e;
	text-transform: uppercase;
	width: 150px;
}

button.blue-pill[disabled], button.blue-pill:hover[disabled] {
	background-color: #CDD6E5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#CDD6E5), to(#98A7C3));
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #CDD6E5, #98A7C3);
	background-image: -moz-linear-gradient(top, #CDD6E5, #98A7C3);
	background-image: -o-linear-gradient(top, #CDD6E5, #98A7C3);
	background-image: linear-gradient(top, #CDD6E5, #98A7C3);
	border-top: 1px solid #9DAEC8;
	border-right: 1px solid #94A4BC;
	border-bottom: 1px solid #7B8DAD;
	border-left: 1px solid #94A4BC;
	-webkit-box-shadow: inset 0 1px 0 0 #DBE3F0;
	-moz-box-shadow: inset 0 1px 0 0 #DBE3F0;
	-ms-box-shadow: inset 0 1px 0 0 #DBE3F0;
	-o-box-shadow: inset 0 1px 0 0 #DBE3F0;
	box-shadow: inset 0 1px 0 0 #DBE3F0;
}

button.blue-pill:hover {
	background-color: #9badcc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#9badcc), to(#687fa6));
	/* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #9badcc, #687fa6);
	background-image: -moz-linear-gradient(top, #9badcc, #687fa6);
	background-image: -o-linear-gradient(top, #9badcc, #687fa6);
	background-image: linear-gradient(top, #9badcc, #687fa6);
	border-top: 1px solid #6d86ad;
	border-right: 1px solid #647a9e;
	border-bottom: 1px solid #546685;
	border-left: 1px solid #647a9e;
	-webkit-box-shadow: inset 0 1px 0 0 #a5b9d9;
	-moz-box-shadow: inset 0 1px 0 0 #a5b9d9;
	-ms-box-shadow: inset 0 1px 0 0 #a5b9d9;
	-o-box-shadow: inset 0 1px 0 0 #a5b9d9;
	box-shadow: inset 0 1px 0 0 #a5b9d9;
}

button.blue-pill:active {
	border: 1px solid #546685;
	-webkit-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
	-moz-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
	-ms-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
	-o-box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
	box-shadow: inset 0 0 8px 2px #7e8da6, 0 1px 0 0 #eeeeee;
}